.header {min-width: 1000px; height: 116px; border-bottom: 1px solid #eaeaea; margin-bottom: 20px;}
.header h1 > a {display:block; margin:0 auto; width:131px; height:71px; background:url(img/logo.jpg) no-repeat; text-indent: -9999px;}

.header > .nav {width:100%;  text-align: center; padding-top:15px; }
.header > .nav > ul {overflow: hidden;}
.header > .nav > ul > li {display: inline-block; margin:0px 30px; font-weight: bold;}
.header > .nav > ul > li > a {color:#333; text-decoration: none; font-size:13px; }

.container {width:1600px; margin: 0 auto; overflow: hidden}
.container > .aside_info {float:left;}
.container > .aside_img {float:left;}
.container > .aside_shop {float:left;}
.container > .aside_pro {overflow: hidden; width: 1600px; margin:0 auto;}
.container > .aside_pro>div:first-child {width: 960px;}
.container > .aside_pro>div:first-child >ul li {float: left;padding:40px 15px}
.container > .aside_pro>div:last-child {width: 640px;}



.float_l {float:left;}
.m_10 {padding: 10px;}


.footer {width:100%; overflow: hidden; text-align: center; padding:20px 0px;}